.checkout {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 2%;
}
/* .checkout__ad {
  width: 100%;
  height: 20%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
} */
.checkout__left {
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.checkout__left > h3 {
  font-size: xx-large;
}
.checkout__resume {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-template-rows: 280px 280px;
}
.checkout__right {
  width: 30%;
  text-align: center;
}
.checkout__title {
  /* margin-right: 10px; */
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

@media(max-width:750px){
  .checkout{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
  
  }
  .checkout__resume{
    margin-top: 50px;
    grid-template-columns: repeat(1, minmax(0,1fr));  
    grid-template-rows: auto;  
    
  }
  .checkout__left{
    justify-content: space-between;
    align-items: center;
    width: auto;
    /* min-height: 100vh; */
  }
  .checkout__title{
    font-size: 20px;
    margin: auto;
    width: 100%;

  }
  .checkout__right{
    margin:0;
    width: 100%;
  }
}