.checkoutProduct {
  display: flex;
  /* flex-direction: column; */
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 1;
  align-items: center;
  margin: 25px;
  padding: 20px;
  width: auto;
  height: auto;
  border-radius: 8px;
  justify-content: space-around;
  box-sizing: border-box;
}
.checkoutProduct__image {
  max-height: 100px;
  width: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}
.checkoputProduct__info {
  height: 100px;
  text-align: center;
  margin-top: 10px;
}
.checkoutProduct__price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}
.remove {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: white;
  margin: 20px;
  width: 50%;
}
.remove:hover {
  background-color: white;
  color: red;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.checkoputProduct__rating {
  justify-content: center;
  display: flex;
}

@media(max-width: 750px){
  .checkoutProduct{
    flex-direction: column;
  
  }
  .checkoutProduct__image {
    width: 140px;
    /* object-fit: contain; */
  }
  .checkoputProduct p {
    height: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
  }
  .checkoutProduct__price {
    display: flex;
    flex-direction: column;
    
    width: auto;
  }
  .remove {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: white;
    margin: 20px;
  }
  .remove:hover {
    background-color: white;
    color: red;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  
  .checkoputProduct__rating {
    justify-content: center;
    display: flex;
  }

}